
div {
	border-style: solid;
	border-width: 2px;
	border-color: red; 
}


ul {
     list-style: none;
     text-align: center;

}


li { display: inline-block;
	list-style: none;
	color:green;
	width: 30%;
	text-align: center;
}

li:first-child{
	text-align: left;
}

li:last-child{
	text-align: right;
}





